@charset "UTF-8";
/* common */
#header.pane-header {
    z-index: 100;
}
.block-footer-pagetop {
    z-index: 100;
}

#momochi251112 {
	text-align: center;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
	font-weight: 400;
	color: #000;
    background-color: #f2d3d8;
	letter-spacing:  .08em;
	line-height: 1.7;
	margin: 0 auto;
	max-width: 750px;
    padding: 0;
    background-position: center top;
    background-repeat: repeat-y;
    background-size: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#momochi251112 img {
    width: 100%;
    height: auto;
	vertical-align: middle;
}

#momochi251112 a {
	display: block;
    width: 100%;
    height: auto;
    color: inherit;
	text-decoration: none;
}

#momochi251112 h2, #momochi251112 h3 {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

/* item-info */

/* btn */
.original-lpbtn_single {
    position: relative;
    z-index: 5;
}
.original-lpbtn_name {
    margin: min(3.2vw,24px) 0 0!important;
}
#momochi251112-item03 .original-lpbtn_name {
    color: #fff!important;
}
.original-lpbtn_name--price {
    display: inline-block!important;
    font-size: 1.6em!important;
}
.original-lpbtn_case {
    margin: min(1vw,8px) auto 0!important;
}
.original-lpbtn_cart {
}
.original-lpbtn_cart a {
    color: #fff!important;
    background-color: #f24965!important;
}
.original-lpbtn_detail a {
    color: #f24965!important;
    background-color: #fff!important;
    outline: 2px solid #f24965;
}
.original-lpbtn_detail::after {
    border-color: transparent transparent transparent #f24965!important;
}
@media only screen and (min-width: 768px) {

}


/*mv*/
.momochi251112-mv {
    position: relative;
    padding: min(66.13vw,496px) 0 min(4.26vw,32px);
}
.momochi251112-mv__image01-inner {
    position: absolute;
    top: min(3.2vw,24px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 94.6%;
    max-width: 710px;
}
.momochi251112-mv__image01 {
    position: relative;
}
.momochi251112-mv__title {
    position: absolute;
    bottom: min(10.92vw,82px);
    left: min(5.3vw,40px);
    width: 40.28%!important;
    max-width: 286px;
}
.momochi251112-mv__image02-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.momochi251112-mv__image02--type01 {
    width: 100%!important;
    max-width: 750px;
}
.momochi251112-mv__image02--type02 {
    width: 4.8%!important;
    max-width: 36px;
}
.momochi251112-mv__image02--type03 {
    width: 45.2%!important;
    max-width: 339px;
}
.momochi251112-mv__link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 94.6%!important;
    max-width: 710px;
    padding: min(2.1vw,16px);
    color: #fff!important;
    background-color: #341a1e;
    outline: 2px solid #fff;
    font-size: min(4vw,30px);
}
@media only screen and (min-width: 768px) { 
    /*mv*/
    .momochi251112-mv {
        padding: 496px 0 32px;
    }
    .momochi251112-mv__image01-inner {
        top: 24px;
    }
    .momochi251112-mv__image01 {
    }
    .momochi251112-mv__title {
        bottom: 82px;
        left: 40px;
    }
    .momochi251112-mv__image02-inner {
    }
    .momochi251112-mv__image02--type01 {
    }
    .momochi251112-mv__image02--type02 {
    }
    .momochi251112-mv__image02--type03 {
    }
    .momochi251112-mv__link {
        padding:16px;
        font-size: 30px;
    }
}

/*item*/
#momochi251112-item01 {
    padding: min(10.6vw,80px) 0 0;
    background-image: linear-gradient(#f2d3d8, #fceae3 50%, #f2d3d8);
}
#momochi251112-item02 {
    padding: min(10.6vw,80px) 0 min(10.6vw,80px);
    background-image: linear-gradient(#f2d3d8, #fceae3 50%, #f2d3d8);
}
.momochi251112-item {
    padding: 0 0 min(11.73vw,88px);
}
.momochi251112-item--inner {
    
}
.momochi251112-item__title, .momochi251112-movie__title {
    width: 94.6%!important;
    max-width: 710px;
    margin: 0 auto!important;    
}
.momochi251112-item__movie {
    position: relative;
    width: 90.4%!important;
    max-width: 678px;
    margin: min(3.2vw,24px) auto 0;
}
.momochi251112-item__movie-title {
}
.momochi251112-item__movie-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.15%!important;
    max-width: 157px; 
}
.momochi251112-item__movie-inner {
    margin: min(1vw,8px) auto 0;
    width: 88.49%!important;
    max-width: 600px;
}
.momochi251112-item__movie-note {
    margin: min(1vw,8px) auto 0;
    font-size: min(2.1vw,16px);
}
@media only screen and (min-width: 768px) { 
    /*item*/
    #momochi251112-item01 {
        padding: 80px 0 0;
    }
    #momochi251112-item02 {
        padding: 80px 0 80px;
    }
    .momochi251112-item {
        padding: 0 0 88px;
    }
    .momochi251112-item--inner {
    }
    .momochi251112-item__title, .momochi251112-movie__title {  
    }
    .momochi251112-item__movie {
        margin: 24px auto 0;
    }
    .momochi251112-item__movie-title {
    }
    .momochi251112-item__movie-inner {
        margin: 8px auto 0;
    }
    .momochi251112-item__movie-note {
        margin: 8px auto 0;
        font-size: 16px;
    }
}

.hacobune-app-container[data-v-0063af49] {
    padding: 0!important;
}
.hacobune-unit-video-outline[data-v-7fd0f272] {
    padding: 0!important;
}
.hacobune-readmore[data-v-6195975e] {
    margin-bottom: 0!important;
}
.hacobune-readmore-wrapper[data-v-6195975e] {
    margin: 0!important;
}
.hacobune-unit-video-outline[data-v-08eacece] {
    padding: 0!important;    
}
@media (max-width: 720px) {
    .hacobune-unit-video[data-v-7fd0f272] {
        margin: 0!important;
    }
}

.momochi251112-item__image-deco01 {
    position: absolute;
    top: 0;
    left: min(2.6vw,20px);
    width: 12.8%!important;
    max-width: 96px;     
}

/*item01*/
.momochi251112-item01__image01-inner {
    position: relative;
    margin: min(5.3vw,40px) auto 0;
    padding: min(78.4vw,588px) 0 min(25.06vw,188px);
    z-index: 8;
}
.momochi251112-item01__point01 {
    width: 42.66%;
    max-width: 320px;
    margin: 0 min(4.8vw,36px) 0 auto;      
}
.momochi251112-item01__image01-01 {
    position: absolute;
    top: min(2.1vw,16px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 77.86%!important;
    max-width: 584px; 
}
.momochi251112-item01__image01-02 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 51.2%!important;
    max-width: 384px; 
}
.momochi251112-item01__image02-inner {
    position: relative;
    margin: -17.86vw auto 0;/*134px*/
    padding: min(10.4vw,78px) 0 min(53.6vw,402px);
    z-index: 7;
}
.momochi251112-item01__point02 {
    width: 69.33%;
    max-width: 520px;
    margin: 0 auto;        
}
.momochi251112-item01__image02-01 {
    position: absolute;
    top: 0;
    right: min(4.8vw,36px);
    width: 29.33%;
    max-width: 220px;    
}
.momochi251112-item01__image02-02 {
    position: absolute;
    bottom: min(33.73vw,253px);
    left: min(4.8vw,36px);
    width: 37.86%;
    max-width: 284px;    
}
.momochi251112-item01__image02-03 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 51.2%!important;
    max-width: 384px;     
}

.momochi251112-item01__image03-inner {
    position: relative;
    margin: -25.2vw auto 0;/*189px*/
    padding: min(23.06vw,173px) 0 0;
    z-index: 6;    
}
.momochi251112-item01__point03 {
    width: 60.8%;
    max-width: 456px;
    margin: 0 0 0 auto;      
}
.momochi251112-item01__image03-01 {
    position: absolute;
    bottom: min(20.8vw,156px);
    left: min(2.6vw,20px);
    width: 53.33%!important;
    max-width: 400px;      
}

.momochi251112-item01__image04 {
    width: 90.4%!important;
    max-width: 678px;
    margin: min(3.2vw,24px) auto 0;
}
@media only screen and (min-width: 768px) {
    /*item01*/
    .momochi251112-item01__image01-inner {
        margin: 40px auto 0;
        padding: 588px 0 188px;
    }
    .momochi251112-item01__point01 {
        margin: 0 36px 0 auto;      
    }
    .momochi251112-item01__image01-01 {
        top: 16px;
    }
    .momochi251112-item01__image01-02 {
    }
    .momochi251112-item01__image02-inner {
        margin: -134px auto 0;
        padding: 78px 0 402px;
    }
    .momochi251112-item01__point02 {     
    }
    .momochi251112-item01__image02-01 {
        right: 36px;   
    }
    .momochi251112-item01__image02-02 {
        bottom: 253px;
        left: 36px;   
    }
    .momochi251112-item01__image02-03 {    
    }
    .momochi251112-item01__image03-inner {
        margin: -189px auto 0;
        padding: 173px 0 0; 
    }
    .momochi251112-item01__point03 {    
    }
    .momochi251112-item01__image03-01 {
        bottom: 156px;
        left: 20px;     
    }
    .momochi251112-item01__image04 {
        margin: 24px auto 0;
    }
}

/*item02*/
.momochi251112-item02__image01-inner {
    position: relative;
    margin: min(5.3vw,40px) auto 0;
    padding: min(78.4vw,588px) 0 min(20.8vw,156px);
    z-index: 8
}
.momochi251112-item02__point01 {
    width: 59.26%;
    max-width: 392px;
    margin: 0 0 0 auto;      
}
.momochi251112-item02__image01-01 {
    position: absolute;
    top: min(2.1vw,16px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 77.86%!important;
    max-width: 584px; 
}
.momochi251112-item02__image01-02 {
    position: absolute;
    bottom: min(7.46vw,56px);
    left: 0;
    width: 51.2%!important;
    max-width: 384px; 
}
.momochi251112-item02__image01-03 {
    position: absolute;
    bottom: 0;
    right: min(2.6vw,20px);
    width: 44%!important;
    max-width: 330px;     
}
.momochi251112-item02__image02-inner {
    position: relative;
    margin: -17.46vw auto 0;
    padding: 0 0 min(41.6vw,312px);
    z-index: 7;
}
.momochi251112-item02__point02 {
    margin: 0 auto auto;
}
.momochi251112-item02__image02-01 {
    position: absolute;
    bottom: 0;
    right: min(2.6vw,20px);
    width: 53.33%!important;
    max-width: 400px;        
}
.momochi251112-item02__image03-inner {
    position: relative;
    margin: -38.4vw auto 0;/*288px*/
    padding: min(32.66vw,245px) 0 0;
    z-index: 6;
}
.momochi251112-item02__point03 {
    margin: 0 auto;
}
.momochi251112-item02__image03-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 51.2%!important;
    max-width: 384px;       
}
.momochi251112-item02__image04 {
    width: 87.2%!important;
    max-width: 654px;
    margin: min(3.2vw,24px) auto 0;
}
@media only screen and (min-width: 768px) { 
    /*item02*/
    .momochi251112-item02__image01-inner {
        margin: 40px auto 0;
        padding: 588px 0 156px;
    }
    .momochi251112-item02__point01 {    
    }
    .momochi251112-item02__image01-01 {
        top: 16px;
    }
    .momochi251112-item02__image01-02 {
        bottom: 56px;
    }
    .momochi251112-item02__image01-03 {
        right: 20px;    
    }
    .momochi251112-item02__image02-inner {
        margin: -131px auto 0;
        padding: 0 0 312px;
    }
    .momochi251112-item02__point02 {
    }
    .momochi251112-item02__image02-01 {
        right: 20px;       
    }
    .momochi251112-item02__image03-inner {
        margin: -288px auto 0;
        padding: 245px 0 0;
    }
    .momochi251112-item02__point03 {
    }
    .momochi251112-item02__image03-01 {     
    }
    .momochi251112-item02__image04 {
        margin: 24px auto 0;
    }
}

/*item03*/
#momochi251112-item03 {
    padding: min(6.4vw,48px) 0 0;
    background-color: #b28f7d;
}
.momochi251112-item03-01 {
    margin: min(10.6vw,80px) auto 0;
}
.momochi251112-item03-01__image01-inner {
    display: flex;
    justify-content: center;
    width: 90.4%;
    max-width: 678px;
    margin: min(3.2vw,24px) auto 0;
}
.momochi251112-item03-01__image01-01, .momochi251112-item03-01__image01-02 {
    width: 50%!important;
    max-width: 339px;    
}
.momochi251112-item03-01__image-inner {
    background-image: url("../img/item03_bg01.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;     
}
.momochi251112-item03-01__image02-inner {
    position: relative;
    margin: min(3.2vw,24px) auto min(6.4vw,48px);
    padding: min(3.2vw,24px) 0 0;   
}
.momochi251112-item03-01__image02-01 {
    width: 53.33%!important;
    max-width: 400px;
    margin: 0 auto 0 0;
}
.momochi251112-item03-01__image02-02 {
    width: 53.33%!important;
    max-width: 400px;
    margin: min(11.73vw,88px) 0 0 auto;
}
.momochi251112-item03-01__image02-03 {
    position: absolute;
    top: min(28.8vw,216px);
    right: min(2.6vw,20px);
    width: 45.33%!important;
    max-width: 340px;    
}
.momochi251112-item03-01__point01 {
    position: absolute;
    top: 0;
    right: min(2.6vw,20px);
    width: 47.2%;
    max-width: 354px;    
}
.momochi251112-item03-01__point02 {
    position: absolute;
    bottom: min(17.6vw,132px);
    left: min(2.6vw,20px);
    width: 47.2%;
    max-width: 354px;    
}
.momochi251112-item03-01__image03-inner {
    display: flex;
    justify-content: space-between;
    width: 90.4%;
    max-width: 678px;
    margin: min(1vw,8px) auto 0;
}
.momochi251112-item03-01__image03-01, .momochi251112-item03-01__image03-02 {
    width: 49.41%!important;
    max-width: 335px;    
}
.momochi251112-item03-01__image03-01 {
    padding: 0 0 min(2.1vw,16px);
}
.momochi251112-item03-01__image03-02 {
    padding: min(2.1vw,16px) 0 0;
}
.momochi251112-item03-02 {
    margin: min(10.6vw,80px) auto 0;
    padding: 0 0 min(10.6vw,80px);
    background-image: url("../img/item03_bg02.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;    
}
.momochi251112-item03-02__image-inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 94.6%!important;
    max-width: 710px;
    margin: min(3.2vw,24px) auto 0; 
}
.momochi251112-item03-02__image01 {
    width: 53.52%!important;
    max-width: 380px;
    padding: min(1vw,8px) 0 0;
}
.momochi251112-item03-02__image02 {
    width: 30.42%!important;
    max-width: 216px;
    margin: 0 0 0 min(6vw,50px);
}
.momochi251112-item03-02__point01 {
    position: absolute;
    top: 0;
    right: 0;
    width: 49.85%!important;
    max-width: 354px;
}
@media only screen and (min-width: 768px) { 
}

/*movie*/
.momochi251112-movie {
    padding: min(11.73vw,88px) 0 min(8.53vw,64px);
    background-image: url("../img/movie_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;    
}
.momochi251112-movie__image {
    width: 80%!important;
    max-width: 600px;
    margin: min(1vw,8px) auto 0;   
}

/*link*/
.momochi251112-link {
    padding: min(8.53vw,64px) 0 min(10.6vw,80px);
    background-color: #fffdf2;
}
.momochi251112-link__title {
    width: 84%;
    max-width: 630px;
    margin: min(8.53vw,64px) auto min(2.1vw,16px);
}
.momochi251112-link__banner {
    width: 80%!important;
    max-width: 600px;
    margin: 0 auto;
}
.momochi251112-link__note {
    margin: min(1vw,8px) auto 0;
    font-size: min(2.1vw,16px); 
}
@media only screen and (min-width: 768px) { 
    /*movie*/
    .momochi251112-movie {
        padding: 88px 0 64px;  
    }
    .momochi251112-movie__image {
        margin: 8px auto 0;   
    }

    /*link*/
    .momochi251112-link {
        padding: 64px 0 80px;
    }
    .momochi251112-link__title {
        margin: 64px auto 16px;
    }
    .momochi251112-link__banner {
    }
    .momochi251112-link__note {
        margin: 8px auto 0;
        font-size: 16px; 
    }
}
