@charset "UTF-8";
/* common */
#header.pane-header {
    z-index: 100;
}
.block-footer-pagetop {
    z-index: 100;
}

#peasy250430 {
	text-align: left;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
	font-weight: 400;
	color: #333;
    background-color: #fafaf3;
	letter-spacing: .15em!important;
	line-height: 1.7;
	margin: 0 auto;
	max-width: 750px;
    padding: 0;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: repeat-y;
    background-size: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#peasy250430 img {
    width: 100%;
    height: auto;
	vertical-align: middle;
}

#peasy250430 a {
	display: block;
    width: 100%;
    height: auto;
    color: inherit;
	text-decoration: none;
}

#peasy250430 h2, #peasy250430 h3 {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

/* item-info */

/* btn */
.original-lpbtn_single {
    width: 89.3%;
    max-width: 670px;
    margin: min(3.2vw,24px) auto 0!important;
}
#peasy250430-item01-01 .original-lpbtn_single {
    width: 42.66%!important;
    max-width: 320px!important;
    margin: min(3.2vw,24px) auto 0 min(5.3vw,40px)!important;
}
#peasy250430-item02-01 .original-lpbtn_single {
    width: 42.66%!important;
    max-width: 320px!important;
    margin: min(3.2vw,24px) min(5.3vw,40px) 0 auto!important;
}
#peasy250430-item02-02 .original-lpbtn_single {
    width: 42.66%!important;
    max-width: 320px!important;
    margin: -4.53vw min(5.3vw,40px) 0 auto!important;
}
.original-lpbtn_name {
    width: 38.20%;
    max-width: 256px;
    margin: 0 0 min(1vw,8px)!important;
    padding: 0!important;
    font-size: min(3.2vw,24px);
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}
#peasy250430-item01-01 .original-lpbtn_name, #peasy250430-item02-01 .original-lpbtn_name, #peasy250430-item02-02 .original-lpbtn_name {
    width: 80%!important;
    max-width: 256px!important;
}
#peasy250430-item02-01 .original-lpbtn_name, #peasy250430-item02-02 .original-lpbtn_name {
    width: 80%!important;
    max-width: 256px!important;
    margin: 0 0 min(1vw,8px) auto!important;
}
#peasy250430-item01-03 .original-lpbtn_name, #peasy250430-item01-05 .original-lpbtn_name {
    margin: 0 0 min(1vw,8px) auto!important;
}
.original-lpbtn_name--price {
    display: inline-block!important;
    font-size: 1.66em!important;
    line-height: 1.7;
}
.original-lpbtn_case {
    padding: 0!important;
}
#peasy250430-item01-01 .original-lpbtn_case, #peasy250430-item02-01 .original-lpbtn_case, #peasy250430-item02-02 .original-lpbtn_case {
    flex-direction: column;
}
.original-lpbtn_cart {
    margin: 0 min(4.26vw,32px) 0 0!important;
}
#peasy250430-item01-01 .original-lpbtn_cart, #peasy250430-item02-01 .original-lpbtn_cart, #peasy250430-item02-02 .original-lpbtn_cart {
    margin: 0 0 min(1vw,8px) 0!important;
}
.original-lpbtn_cart a {
    color: #fff!important;
    background-color: #ff7f9f!important;
}
.original-lpbtn_detail a {
    color: #fff!important;
    background-color: #744550!important;
    outline: unset;
}
.original-lpbtn_detail::after {
    border-color: transparent transparent transparent #fff!important;
}
@media only screen and (min-width: 768px) {
    .original-lpbtn_single {
        margin: 24px auto 0!important;
    }
    #peasy250430-item01-01 .original-lpbtn_single {
        margin: 24px auto 0 40px!important;
    }
    #peasy250430-item02-01 .original-lpbtn_single {
        margin: 24px 40px 0 auto!important;
    }
    #peasy250430-item02-02 .original-lpbtn_single {
        margin: -34px 40px 0 auto!important;
    }
    .original-lpbtn_name {
        margin: 0 0 8px!important;
        font-size: 24px;
    }
    #peasy250430-item01-01 .original-lpbtn_name, #peasy250430-item02-01 .original-lpbtn_name, #peasy250430-item02-02 .original-lpbtn_name {
    }
    #peasy250430-item02-01 .original-lpbtn_name, #peasy250430-item02-02 .original-lpbtn_name {
        margin: 0 0 8px auto!important;
    }
    #peasy250430-item01-03 .original-lpbtn_name, #peasy250430-item01-05 .original-lpbtn_name {
        margin: 0 0 8px auto!important;
    }
    .original-lpbtn_name--price {
    }
    .original-lpbtn_case {
    }
    #peasy250430-item01-01 .original-lpbtn_case, #peasy250430-item02-01 .original-lpbtn_case, #peasy250430-item02-02 .original-lpbtn_case {
    }
    .original-lpbtn_cart {
        margin: 0 32px 0 0!important;
    }
    #peasy250430-item01-01 .original-lpbtn_cart, #peasy250430-item02-01 .original-lpbtn_cart, #peasy250430-item02-02 .original-lpbtn_cart {
        margin: 0 0 8px 0!important;
    }
    .original-lpbtn_cart a {
    }
    .original-lpbtn_detail a {
    }
    .original-lpbtn_detail::after {
    }    
}

/*mv*/
.peasy250430-mv {
    position: relative;
}
.peasy250430-mv__title--main {
    display: block;
    position: absolute;
    top: min(74.6vw,560px);
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto!important;
}
.peasy250430-mv__image {
    position: relative;
}
.peasy250430-mv__title--sub {
    position: absolute;
    top : min(2.6vw,20px);
    left: 0;
    right: 0;
    width: 94.6%;
    max-width: 710px;
    margin: 0 auto!important;
}
.peasy250430-mv__link {
    position: absolute;
    bottom : min(8.53vw,64px);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 94.6%;
    max-width: 710px;
    margin: 0 auto!important;
}
.peasy250430-mv__btn {
    position: relative;
    width: 48.45%;
    max-width: 344px;
    border-radius: min(3.2vw,24px);
}
.peasy250430-mv__btn:first-child {
    background-color: #fff1f5;
}
.peasy250430-mv__btn:last-child {
    background-color: #f2faff;
}
.peasy250430-mv__btn::before{
    content: "";
    position: absolute;
    bottom: -2.1vw;
    left: 0;
    right: 0;
    width: 20.3%;
    max-width: 72px;
    height: 4.26vw;
    max-height: 32px;
    margin: 0 auto!important;
    background-color: #ff5983;
    clip-path: polygon(50% 4.26vw, 0% 0%, 9.6vw 0%);
}
.peasy250430-mv__btn:first-child::before{
    background-color: #ff5983;
}
.peasy250430-mv__btn:last-child::before{
    background-color: #59c8ff;
}
@media only screen and (min-width: 768px) { 
    .peasy250430-mv {
    }
    .peasy250430-mv__title--main {
        top: 560px;
    }
    .peasy250430-mv__image {
    }
    .peasy250430-mv__title--sub {
        top : 20px;
    }
    .peasy250430-mv__link {
        bottom : 64px;
    }
    .peasy250430-mv__btn {
        border-radius: 24px;
    }
    .peasy250430-mv__btn:first-child {
    }
    .peasy250430-mv__btn:last-child {
    }
    .peasy250430-mv__btn::before{
        bottom: -16px;
        clip-path: polygon(50% 32px, 0% 0%, 72px 0%);
    }
    .peasy250430-mv__btn:first-child::before{
    }
    .peasy250430-mv__btn:last-child::before{
    }
}

/*category*/
.peasy250430-category {
    padding: min(5.3vw,40px) 0 min(8.53vw,64px);
    background-image: url("../img/item_bg01.png"), url("../img/item_bg02.png");
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
#peasy250430-category01.peasy250430-category {
    background-color: #fff1f5;
}
#peasy250430-category02.peasy250430-category {
    background-color: #f2faff;
}
@media only screen and (min-width: 768px) {
    .peasy250430-category {
        padding: 40px 0 64px;
    }
    #peasy250430-category01.peasy250430-category {
    }
    #peasy250430-category02.peasy250430-category {
    }
}


/*item*/
.peasy250430-item {
    position: relative;
    margin: min(8.53vw,64px) auto 0;
    padding: min(3.2vw,24px) 0 0;
}
.peasy250430-item__title {
    position: relative;
    display: table;
    color: #5a3c43;
    font-size: min(4.13vw,31px);
    font-weight: 500;
}
#peasy250430-item01-01 .peasy250430-item__title, #peasy250430-item01-03 .peasy250430-item__title, #peasy250430-item01-05 .peasy250430-item__title, #peasy250430-item02-01 .peasy250430-item__title {
    margin: 0 min(5.3vw,40px) 0 auto;
}
#peasy250430-item01-02 .peasy250430-item__title, #peasy250430-item01-04 .peasy250430-item__title {
    margin: 0 auto 0 min(5.3vw,40px);
}
#peasy250430-item02-02 .peasy250430-item__title {
    margin: -2.6vw auto 0 min(5.3vw,40px);
}
.peasy250430-item__image {
    position: absolute;
    width: 55.46%!important;
    max-width: 416px;   
}
#peasy250430-item01-02 .peasy250430-item__image, #peasy250430-item01-04 .peasy250430-item__image {
    right: 0;
    top: 0;
}
#peasy250430-item01-03 .peasy250430-item__image, #peasy250430-item01-05 .peasy250430-item__image {
    left: 0;
    top: 0;
}
.peasy250430-item__color-list {
    position: relative;
    width: 55.46%;
    max-width: 416px;
    height: 42.6vw;
    max-height: 320px;
}
#peasy250430-item01-03 .peasy250430-item__color-list {
    height: 49.06vw!important;
    max-height: 368px!important;
}
#peasy250430-item01-02 .peasy250430-item__color-list, #peasy250430-item01-04 .peasy250430-item__color-list{
    margin: min(2.1vw,16px) auto 0 min(5.3vw,40px);
}
#peasy250430-item01-03 .peasy250430-item__color-list, #peasy250430-item01-05 .peasy250430-item__color-list, #peasy250430-item02-01 .peasy250430-item__color-list {
    margin: min(2.1vw,16px) min(5.3vw,40px) 0 auto;
}
#peasy250430-item02-02 .peasy250430-item__color-list {
    margin: -4.26vw min(5.3vw,40px) 0 auto;
}
@media only screen and (min-width: 768px) {
    .peasy250430-item {
        margin: 64px auto 0;
        padding: 24px 0 0;
    }
    .peasy250430-item__title {
        font-size: 31px;
    }
    #peasy250430-item01-01 .peasy250430-item__title, #peasy250430-item01-03 .peasy250430-item__title, #peasy250430-item01-05 .peasy250430-item__title, #peasy250430-item02-01 .peasy250430-item__title {
        margin: 0 40px 0 auto;
    }
    #peasy250430-item01-02 .peasy250430-item__title, #peasy250430-item01-04 .peasy250430-item__title {
        margin: 0 auto 0 40px;
    }
    #peasy250430-item02-02 .peasy250430-item__title {
        margin: -20px auto 0 40px;
    }
    .peasy250430-item__image {  
    }
    #peasy250430-item01-02 .peasy250430-item__image, #peasy250430-item01-04 .peasy250430-item__image {
    }
    #peasy250430-item01-03 .peasy250430-item__image, #peasy250430-item01-05 .peasy250430-item__image {
    }
    .peasy250430-item__color-list {
    }
    #peasy250430-item01-03 .peasy250430-item__color-list {
    }
    #peasy250430-item01-02 .peasy250430-item__color-list, #peasy250430-item01-04 .peasy250430-item__color-list{
        margin: 16px auto 0 40px;
    }
    #peasy250430-item01-03 .peasy250430-item__color-list, #peasy250430-item01-05 .peasy250430-item__color-list, #peasy250430-item02-01 .peasy250430-item__color-list {
        margin: 16px 40px 0 auto;
    }
    #peasy250430-item02-02 .peasy250430-item__color-list {
        margin: -32px 40px 0 auto;
    }
}


/*item01-01*/
.peasy250430-item01-01__image01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 67.2%!important;
    max-width: 504px;
}
.peasy250430-item01-01__image02 {
    position: relative;
    width: 42.13%!important;
    max-width: 316px;
    margin: min(5.3vw,40px) min(2.6vw,20px) 0 auto;
}
.peasy250430-item01-01__image03 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46.93%!important;
    max-width: 352px;
}
.peasy250430-item01-01__color-list {
    position: relative;
    width: 55.46%;
    max-width: 416px;
    height: 53.3vw;
    max-height: 400px;
    margin: -8.53vw auto 0 min(5.3vw,40px);    
}
.peasy250430-item01-01__color01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 53.36%!important;
    max-width: 222px;
}
.peasy250430-item01-01__color02 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55.76%!important;
    max-width: 232px;
}
/*item01-02*/
.peasy250430-item01-02__color01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 52.88%!important;
    max-width: 220px;
}
.peasy250430-item01-02__color02 {
    position: absolute;
    bottom: 0;
    right: min(2.1vw,16px);
    width: 59.61%!important;
    max-width: 248px;
}
/*item01-02*/
.peasy250430-item01-02__color01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 52.88%!important;
    max-width: 220px;
}
.peasy250430-item01-02__color02 {
    position: absolute;
    bottom: 0;
    right: min(2.1vw,16px);
    width: 59.61%!important;
    max-width: 248px;
}
/*item01-03*/
.peasy250430-item01-03__color02 {
    position: absolute;
    bottom: min(3.2vw,24px);
    right: 0;
    width: 41.34%!important;
    max-width: 172px;    
}
.peasy250430-item01-03__color03 {
    position: absolute;
    bottom: 0;
    left: min(9.6vw,72px);
    width: 40.38%!important;
    max-width: 168px;    
}
/*item01-04*/
.peasy250430-item01-04__color01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 43.26%!important;
    max-width: 180px;      
}
.peasy250430-item01-04__color02 {
    position: absolute;
    top: min(9.6vw,72px);
    left: min(11.73vw,88px);
    width: 43.26%!important;
    max-width: 180px;      
}
.peasy250430-item01-04__color03 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 53.84%!important;
    max-width: 224px;      
}
/*item01-05*/
/*item02-01*/
.peasy250430-item02-01__image01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%!important;
    max-width: 375px!important;
}
.peasy250430-item02-01__color-list {
    position: relative;
    width: 55.46%;
    max-width: 416px;
    height: 28.53vw;
    max-height: 214px;
    margin: min(2.1vw,16px) min(5.3vw,40px) 0 auto;    
}
.peasy250430-item02-01__color01 {
    position: absolute;
    top: 0;
    right: min(4.26vw,32px);
    width: 72.1%!important;
    max-width: 300px;
}
/*item02-02*/
#peasy250430-item02-02.peasy250430-item {
    margin: 0 auto!important;
}
.peasy250430-item02-02__color-list {
    position: absolute;
    bottom: 0;
    left: min(5.3vw,40px); 
    width: 42.6%!important;
    max-width: 320px;  
}
@media only screen and (min-width: 768px) {
/*item01-01*/
.peasy250430-item01-01__image01 {
}
.peasy250430-item01-01__image02 {
    margin: 40px 20px 0 auto;
}
.peasy250430-item01-01__image03 {
}
.peasy250430-item01-01__color-list {
    margin: -64px auto 0 40px;    
}
.peasy250430-item01-01__color01 {
}
.peasy250430-item01-01__color02 {
}
/*item01-02*/
.peasy250430-item01-02__color01 {
}
.peasy250430-item01-02__color02 {
    right: 16px;
}
/*item01-02*/
.peasy250430-item01-02__color01 {
}
.peasy250430-item01-02__color02 {
    right: 16px;
}
/*item01-03*/
.peasy250430-item01-03__color02 {
    bottom: 24px;  
}
.peasy250430-item01-03__color03 {
    left: 72px;  
}
/*item01-04*/
.peasy250430-item01-04__color01 {   
}
.peasy250430-item01-04__color02 {
    top: 72px;
    left: 88px;   
}
.peasy250430-item01-04__color03 {   
}
/*item01-05*/
/*item02-01*/
.peasy250430-item02-01__image01 {
}
.peasy250430-item02-01__color-list {
    margin: 16px 40px 0 auto;    
}
.peasy250430-item02-01__color01 {
    right: 32px;
}
/*item02-02*/
#peasy250430-item02-02.peasy250430-item {
}
.peasy250430-item02-02__color-list {
    left: 40px;
}    
}

/*point*/
.peasy250430-point {
    position: relative;
    padding: min(8.53vw,64px) 0 min(10.6vw,80px);
    background-color: #fafaf3;
}
.peasy250430-point::before {
    content: "";
    display: block;
    position: absolute;
    top: min(43.2vw,324px);
    left: 0;
    right: 0;
    width: 68.26vw;
    max-width: 512px;
    height: 68.26vw;
    max-height: 512px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    clip-path: circle(min(34.13vw,256px) at 50% 50%);
}
.peasy250430-point__title--sub {
    position: relative;
    width: 94.6%;
    max-width: 710px;
    margin: 0 auto;
}
.peasy250430-point__title--main {
    position: relative;
    width: 94.6%;
    max-width: 710px;
    margin: min(3.2vw,24px) auto 0!important;
}
.peasy250430-point__image {
    display: block;
    position: relative;
    width: 94.6%;
    max-width: 710px;
    margin: min(3.2vw,24px) auto 0;
}
.peasy250430-point__text {
    position: relative;
    width: 89.3%;
    max-width: 670px;
    margin: min(3.2vw,24px) auto 0;
    color: #5a3c43;
    font-size: min(4.26vw,32px);
    font-weight: 500;
    text-align: center;
}
.peasy250430-point__text>span {
    color: #ff4d7a;
    font-size: 1.2em;
}
.peasy250430-point__note {
    position: relative;
    width: 89.3%;
    max-width: 670px;
    margin: min(1vw,8px) auto 0;
    font-size: min(2.1vw,16px);
    text-align: center;
}
@media only screen and (min-width: 768px) {
    /*point*/
    .peasy250430-point {
        padding: 64px 0 80px;
    }
    .peasy250430-point::before {
        top: 324px;
        clip-path: circle(256px at 50% 50%);
    }
    .peasy250430-point__title--sub {
    }
    .peasy250430-point__title--main {
        margin: 24px auto 0!important;
    }
    .peasy250430-point__image {
        margin: 24px auto 0;
    }
    .peasy250430-point__text {
        margin: 24px auto 0;
        font-size: 32px;
    }
    .peasy250430-point__text>span {
    }
    .peasy250430-point__note {
        margin: 8px auto 0;
        font-size: 16px;
    }
}